  <p>Comments:</p>
  {{#each post.comments}}
  <li class="list-group-item">
    {{this.content}}
    <p><a href="/posts/{{this.post}}/comments/{{this._id}}/replies/new">Reply</a></p>
    {{!-- before i tried if here, LUCIA pointed out that if won't change the context of what's being applied here. --}}
    {{#each this.replies}}
      {{> reply}}
    {{/each}}
  </li>
  {{/each}}