  <p>Comments:</p>
  {{#each post.comments}}
  <li class="list-group-item">
    <a href="/comments/{{this._id}}/replies/new">Comment</a>
    <p>{{this.content}}</p>
    {{#if this.comments}}
      {{> comments}}
    {{/if}}
  </li>
  {{/each}}