<h2>COMMENTS HERE</h2>
{{#each this.comments}}
<div class="col-xs-12 comment-indent" style="padding-left: 75px;">
<hr>
<p>{{this.content}}</p>
<a href="/comments/{{this._id}}/replies/new">Reply</a>
    {{#if this.comments}}
        {{> comment}}
    {{/if}}
</div>
{{/each}}