  <p>Comments:</p>
  {{#each post.comments}}
  <li class="list-group-item">
    <p>{{this.content}}</p>
    <p><a href="/posts/{{../post._id}}/comments/{{this._id}}/replies/new">Reply</a></p>
    {{#if this.replies}}
      {{> reply}}
    {{/if}}
  </li>
  {{/each}}