<div class="card my-2">
    <div class="card-body">
        <p>{{this.content}}</p>
        <p><a href="/posts/{{this.post}}/comments/{{this._id}}/replies/new">Reply to Reply</a></p>
    </div>
  </div>